<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>
    <h1>Welcome to our website</h1>
    <img src="{{ url_for('static', filename='img/image.jpeg')}}" alt="" height="200" width="200">
    {% if name %}
        <h3>Hello {{ name }} </h3>
    {% else %}
        <h3> Hello, World!</h3>
    {% endif %}

    <form action="/users" method="POST">
        <label for="fname">First name:</label>
        <input type="text" id="fname" name="fname">
        <br>
        <label for="lname">Last Name:</label>
        <input type="text", id="lname" name="lname">
        <br>
        <input type="submit">
    </form>

    <script src="{{url_for('static', filename='js/script.js')}}"></script>
</body>
</html>