body {
  /* background-color: red; */
}
p {
  color: yellow;
}
.para1 {
  background-color: red;
}
#pp1 {
    color: blue
}
.button-link {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #0078d4; /* Microsoft blue */
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}
.button-link:hover {
  background-color: #005a9e; /* Darker blue on hover */
}
